@font-face { 
  
  src: url("../fonts/BLOOD.ttf");
  font-family: "BLOOD";
       
}

body {
  background-color: black;
}
.row {
  margin-left: 0;
  margin-right: 0;
}

h1 {
  margin-bottom: 20px;
  font-weight: bold;
  color: white;
}

h2 {
  color: white;
}

/* окно для расположения кнопки */

.wrapper {
  position: relative;
}
.start {
  display: grid;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  /* grid-template-rows: 700px; */
  align-items: center;
  justify-items: center;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.btn-dark {
  width: 300px;
  height: 100px;
  font-family: "BLOOD";
  font-size: 40px;
  color: red;
  border: 2px solid white;
}
.btn-dark:hover {
  color: red;
  font-size: 43px;
}

.game-field {
  background-color: orange;
  min-height: 10vh;
  margin: 1px 1px 1px 1px;
  line-height: 10vh;
}

.target {
  background-color: green;
  color: white;
  font-size: 24pt;
  text-align: center;
}

.miss {
  background-color: red;
}

